# Python
__pycache__/
*.pyc
.venv/

# Environment variables
.env
.env.*
.env.local
.env.production

# Hugging Face / Model cache
.cache/
hf_cache/

# Vector DB / Qdrant
qdrant/
qdrant_data/

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
